!!!
%html
  %head
    %title Enliv Task
  
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      
    = csrf_meta_tags
    = csp_meta_tag
    
  %link{href: 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700"', rel: "stylesheet"}

  %body
    #app

    %script{src: getAsset('main.js')}
    %script{src: getAsset('runtime.js')}
    %script{src: getAsset('vendors.js')}